 @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
*{margin: 0; padding: 0;}
body{font-size: 14px; color: #282828; font-family: 'Open Sans', sans-serif; background: #f4f4f4}
a{text-decoration: none;color: #282828;}
.display-table{display: table;}
.display-table-cell{display: table-cell;float: none;vertical-align: middle;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}
li{list-style-type: none;}
p{font-size: 16px;}
a{text-decoration: none;}
a:hover, a:focus{outline: none;text-decoration: none;}
.container{ margin: 0 auto;max-width: 1238px:}
ul{margin-bottom: 0;}


.top-bar {text-align: right;background: #0f2f00;padding: 7px 0;}
.top-bar ul li a {font-size: 13px;color: #5f9d30;text-transform: uppercase;font-weight: 600;}
.main-header {background: #5f9d30;padding: 30px 0;text-align: center;}
.logo-sec {display: inline-block;}
.login-detail {height: 672px;box-shadow: 0 15px 20px #d2d2d2;padding: 35px 51px;}
.login-right {position: relative;}
.login-right h2 {font-size: 14px;color: #fff;margin: 0;position: absolute;bottom: 0;max-width: 300px;left: 0;bottom: 0;background: #132c04;padding: 15px;box-shadow: 0 0 24px #264513 inset;}
.login-right img {width: 100%;height: 672px; }
.login-panel .col-sm-5 {padding-right:0;}
.login-panel .col-sm-7 {padding-left: 0;}
.login-panel {padding: 74px 0;}
.login-detail h1, .dashboard-sec h4 {text-align: center;font-size: 32px;font-weight: 600;color: #102f01;position: relative;}
.login-detail h1::before, .dashboard-sec h4::before {position: absolute;content: "";left: 44%;right: 0;bottom: -9px;width: 40px;height: 2px;background: #102f01;}
.login-detail h1 {text-align: center;font-size: 32px;font-weight: 600;color: #102f01;position: relative;margin:0 0 50px;}
.btn-orange {width: auto;padding:7px 37px;font-size: 20px;color: #fff;text-transform: uppercase;font-weight: 600;border-radius: 0;background: #f5650c;border-color: #f5650c; transition: 0.5s all ease;}
.btn-orange:hover, .btn-orange:focus{background:#e15d0b !important;border-color:#e15d0b  !important;color:#fff;}
label {font-weight: normal;color: #494949;}
.form-control {border: 2px solid #ccc;height: 38px;border-radius: 0;padding: 5px;}
footer {padding:45px 0;background: #0f2f00;}
.register{height: auto;}
.dashboard-sec {padding: 40px 40px 177px;background: #fff;box-shadow: 0 15px 20px #cecece;}
.dashboard-sec h4::before{left: 48%}
.dashboard-bx {padding: 40px 0 0;text-align: center;background: #4cc47f;}
.dashboard-bx span {display:block;font-size: 24px;font-weight: 600;color: #fff;margin: 20px 0;}
.dashboard-bx em {display: block;font-size: 14px;font-style: normal;}
.btn-sec {padding: 15px 0;border-top: 1px solid #fff;}
.btn-sec a {font-size: 16px;color: #fff;}
.dashboard-sec h4 {margin-bottom: 50px;}
.dashboard-bx img {height: 80px;}
.dashboard-bx.blue {background: #20a8d8;}
.dashboard-bx.pink {background: #f86c6b;}

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{content: "\f192";color: #8e44ad;animation: effect 250ms ease-in;}
input[type="radio"]:disabled + .label-text{color: #aaa;}
input[type="radio"]:disabled + .label-text:before{content: "\f111";color: #ccc;}
.overview-order-detail h5 {font-size: 16px;font-weight: 600;}
.overview-order-detail label {color: #494949;font-weight: 600;font-size: 15px;}
.form-check label {color: #727272;font-weight: normal;}
select{-moz-appearance:none; background: url(../img/down-arrow.png) no-repeat right center !important}
input[type="radio"] {position: absolute;right: auto; left: 22px;}
.overview-sec {padding: 40px 40px;}
.truck-sec kbd {border-radius: 0;font-size: 15px;padding: 5px 10px;background: #ccc;box-shadow: none;color: #333;}
.truck-sec textarea {height: 150px;resize: none;}
.truck-sec .far.fa-plus-square, .truck-sec .far.fa-minus-square {color: #F5650C;}
.site-main {margin-bottom: 0 !important;}
.overview-order-detail label.Check_box { padding-top: 6px;}
#example_next {display: none;}
#qtyModal h4.modal-title {
    margin: 0 !important;
     font-size: 25px; 
    line-height: 0;
    padding-bottom: 20px;
    letter-spacing: 0;
}
h4.modal-title:before{display: none;}
.social-icon img {
	width: 33%;
}
.social-icon {
	text-align: left;
}
.list-inline > li {
	
	padding-right: 5px;
	padding-left: 0;
}
.social-icon a {
	padding-right: 3px;
}
