/*Responsive css start here*/

@media(max-width:1024px) {}

@media(max-width:991px) {
    
.login-panel .login-detail { padding: 35px 26px;}
.dashboard-sec .dashboard-bx span { font-size: 15px;}
}

@media(max-width:767px) {
    
   .login-panel .register-right img {width: 100%;height: auto;margin: 15px 0}
   .login-panel .col-sm-5 {padding-right: 15px !important;}
   .login-panel .col-sm-7 {padding-left: 15px !important;}
   .login-panel .register-right h2 {max-width: 300px;left: 15px;bottom: 15px;font-size: 12px;font-weight: 500;}
   .dashboard-sec {padding:40px 15px 40px !important;}
   .dashboard-bx{margin-bottom: 15px;}
   .dashboard-sec h4{ font-size: 22px !important;} 
    .dashboard-sec h4::before {left: 43% !important;}
    
    
}

@media(max-width:500px) {}

@media(max-width:360px) {}



@media(max-width:320px) {}
