
/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* section: spl_dialog_login scope:  */
.splogin.spl-modal {
	width:450px;
}
.splogin.spl-modal h3.action-section {
	font-family:Open Sans;
}
.splogin.spl-modal h3.action-section {
	font-weight:200;
}
.splogin.spl-modal h3.action-section {
	color:#b8d7a2;
}
.splogin.spl-modal h3.action-section {
	background-color:#5A952F;
}
.splogin.spl-modal .spl-content {
	background-color:#80B658;
}
.splogin.spl-modal .spl_custom_links > a {
	font-family:Open Sans;
}
.splogin.spl-modal .spl_custom_links > a {
	font-weight:300;
}
.splogin.spl-modal .spl_custom_links > a {
	color:#d7e8ca;
}
#spl-layout-dialog-rp-links-border-top_helper,.splogin.spl-modal .spl_custom_links > a:first-child {
	border-top-color:#5A952F;
}
.splogin.spl-modal .spl_custom_links > a {
	border-bottom-color:#5A952F;
}
.splogin.spl-modal .spl_custom_links > a:hover,#spl-layout-dialog-rp-linksh-hover-top_helper {
	background-color:#5A952F;
}

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* section: spl_ns_error scope:  */
.ns-box.ns-bar.ns-effect-slidetop.ns-error .ns-box-inner .icon:before,#spl-lbox-rp-color-helper {
	color:#ffffff;
}
.ns-box.ns-bar.ns-effect-slidetop.ns-error .ns-close:before,#spl-close-rp-color-helper {
	color:#ffffff;
}

/* END spl custom css */

/* START spl custom css */

/* section: spl_ns_success scope:  */
.ns-box.ns-bar.ns-effect-slidetop.ns-success {
	background-color:#80b658;
}
.ns-box.ns-bar.ns-effect-slidetop.ns-success {
	border-color:#5a952f;
}
.ns-box.ns-bar.ns-effect-slidetop.ns-success {
	box-shadow:inset 5.3em 0 #5a952f;;
}
.ns-box.ns-bar.ns-effect-slidetop.ns-success .ns-box-inner .icon:before,#spl-lbox-rp-color-helper {
	color:#b8d7a2;
}
.ns-box.ns-bar.ns-effect-slidetop.ns-success .ns-close:before,#spl-close-rp-color-helper {
	color:#d7e8ca;
}

/* END spl custom css */

/* START spl custom css */

/* section: spl_ns_lp scope:  */
.ns-box.ns-effect-slidetop.spl-notice-action-lostpassword {
	background-color:#80b658;
}
.ns-box.ns-effect-slidetop.spl-notice-action-lostpassword {
	border-color:#5a952f;
}
.ns-box.ns-effect-slidetop.spl-notice-action-lostpassword {
	box-shadow:inset 5.3em 0 #5a952f;;
}
.ns-box.ns-effect-slidetop.spl-notice-action-lostpassword .ns-box-inner .icon:before,#spl-lbox-rp-color-helper {
	color:#ffffff;
}
.ns-box.ns-effect-slidetop.spl-notice-action-lostpassword .ns-close:before,#spl-close-rp-color-helper {
	color:#ffffff;
}

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */
