
/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* section: spl_dialog_login scope:  */
.splogin.spl-modal h3.action-section {
	font-family:Open Sans;
}
.splogin.spl-modal h3.action-section {
	font-weight:200;
}
.splogin.spl-modal h3.action-section {
	color:#b8d7a2;
}
.splogin.spl-modal h3.action-section {
	background-color:#5A952F;
}
.splogin.spl-modal .spl-content {
	background-color:#80B658;
}
.splogin.spl-modal .spl_custom_links > a {
	font-family:Open Sans;
}
.splogin.spl-modal .spl_custom_links > a {
	font-weight:300;
}
.splogin.spl-modal .spl_custom_links > a {
	color:#d7e8ca;
}
#spl-layout-dialog-rp-links-border-top_helper,.splogin.spl-modal .spl_custom_links > a:first-child {
	border-top-color:#5A952F;
}
.splogin.spl-modal .spl_custom_links > a {
	border-bottom-color:#5A952F;
}
.splogin.spl-modal .spl_custom_links > a:hover,#spl-layout-dialog-rp-linksh-hover-top_helper {
	background-color:#80B658;
}

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */

/* START spl custom css */

/* END spl custom css */
