/*
 Theme Name:   mediso-v1-03 child
 Theme URI:    http://yourfleetmedia.com/mediso-child/
 Description:  Mediso Child Theme
 Author:       Larissa Mohle
 Author URI:   http://yourfleetmedia.com
 Template:     mediso-v1-03
 Version:      1.0.0
 Text Domain:  mediso-child
*/

@import url("../mediso-v1-03/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
.list-inline>li {display: inline-block;padding-right: 5px;padding-left: 5px;}
ul#menu-top-menu {margin-bottom: 0;}
.top-navigation-wrapper a {font-size: 13px;}
label.tml-label {margin: 0 20px!important;}
input#rememberme {right: auto !important;}
ul.tml-links {display: none;}
