/*
CTC Separate Stylesheet
Updated: 2018-07-31 09:06:00
Theme Name: YMF Theme
Theme URI: https://wordpress.org/themes/twentysixteen/
Template: twentysixteen
Author: 1wayit
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Tags: one-column,two-columns,right-sidebar,accessibility-ready,custom-background,custom-colors,custom-header,custom-menu,editor-style,featured-images,flexible-header,microformats,post-formats,rtl-language-support,sticky-post,threaded-comments,translation-ready,blog
Version: 1.5.1533027960
*/
@import url('../twentysixteen/style.css');
body {background: #f1f1f1;}
.site-inner {max-width:1170px;}
body:before, body:after{ display:none !important;}
.entry-header h1.entry-title {margin: 0;padding: 12px 0;border-bottom: 1px solid #ddd;}
.main-div {margin: 0 auto 30px !important;}
.main-div .panel h2 {font-size: 30px;}
footer#colophon { margin: 0;padding: 15px 0;background: #333;text-align: center;}
.site-info {width: 100%;color: #fff;}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {margin-left: 0;}
input[type=checkbox], input[type=radio] {margin: 12px 16px 0;}
.site-header {background: #ddd;}
.site-info a {color: #fff; font-size: 12px;}
.site-branding .site-title {font-size: 32px;line-height: 55px;}
.entry-header, .entry-summary, .entry-content, .entry-footer, .page-content{margin:0 !important;}
.landing_box{width:1000px; margin-bottom:15px; }
.site-footer .main-navigation {display: none;}
.menu-toggle {font-size: 17px;padding: 5px 10px;background: #fff;}
@media (min-width:1367px)
{
.entry-content {min-height: 572px;}	
}
@media (min-width:769px)
{
.entry-content {min-height:398px;}	
}


@media (max-width:768px)
{
.site-header-main, .entry-header, .entry-summary, .entry-content, .entry-footer, .page-content {padding: 0 10px;}
.landing_box{text-align:center;}	
.spacer {display: block;height: 11px;}
.login-form label {display: block;text-align: left;}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] { margin-left: 0 !important;
    margin-top: 11px;}
}
