html.ltie9 body, body{ min-width: 1100px; } .container{ max-width: 1100px; } .gdlr-caption-wrapper .gdlr-caption-inner{ max-width: 1100px; }
.body-wrapper.gdlr-boxed-style { max-width: 1100px; }
.gdlr-navigation-wrapper .gdlr-navigation-container{ text-align: center; }
.gdlr-logo{ max-width: 307px; }
.gdlr-logo{ margin-top: 20px; }
.gdlr-logo{ margin-bottom: 20px; }
.gdlr-logo-right-text{ margin-top: 50px; }
h1, h2, h3, h4, h5, h6{ font-family: "Open Sans"; }
body, input, textarea{ font-family: "Open Sans"; }
.gdlr-navigation{ font-family: "Open Sans"; }
.gdlr-slider-item{ font-family: "Open Sans"; }
body{ font-size: 14px; }
h1{ font-size: 30px; }
h2{ font-size: 25px; }
h3{ font-size: 20px; }
h4{ font-size: 20px; }
h5{ font-size: 16px; }
h6{ font-size: 16px; }
.top-navigation-wrapper, .gdlr-nav-search-form-button-wrapper{ border-color: #5f9d31; }
.top-navigation-wrapper{ background-color: #102f01; }
.top-navigation-wrapper{ color: #ffffff; }
.top-navigation-wrapper a{ color: #5f9d31; }
.gdlr-header-inner{ background-color: #5f9d31; }
.gdlr-main-menu > li > a{ color: #ffffff; }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ color: #72a94a; }
.gdlr-navigation-wrapper{ background-color: #72a94a; }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ background-color: #102f01; }
.gdlr-main-menu > .gdlr-normal-menu .sub-menu, .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ border-top-color: #e46021; }
.gdlr-main-menu > .gdlr-normal-menu li , .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ background-color: #102f01; }
.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a{ color: #ffffff; }
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #72a94a; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #72a94a; } 
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #5f9d31; } 
.gdlr-main-menu > li > .sub-menu *, .gdlr-main-menu > li > .sf-mega *{ border-color: #344e27; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #e46021; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #e46021; }
#gdlr-responsive-navigation.dl-menuwrapper button { background-color: #102f01; }
#gdlr-responsive-navigation.dl-menuwrapper button:hover, #gdlr-responsive-navigation.dl-menuwrapper button.dl-active, #gdlr-responsive-navigation.dl-menuwrapper ul{ background-color: #102f01; }
body{ background-color: #dddddd; }
.body-wrapper, .gdlr-single-lightbox-container{ background-color: #ffffff; }.gdlr-button.without-border, input[type="button"], input[type="submit"]{ color: #ffffff; }
.gdlr-page-title{ color: #102f01; }
.gdlr-page-caption{ color: #102f01; }
h1, h2, h3, h4, h5, h6, .gdlr-title, .gdlr-title a{ color: #102f01; }
.gdlr-item-title-wrapper .gdlr-item-title{ color: #102f01; border-color: #102f01; }
.gdlr-item-title-wrapper.pos-icon .gdlr-item-title-icon{ color: #e46021; }
.gdlr-item-title-wrapper.pos-icon .gdlr-item-title-icon{ background-color: #393939; }
.gdlr-item-title-gimmick{ background-color: #333333; }
.gdlr-item-title-wrapper .gdlr-item-caption{ color: #9b9b9b; }
body{ color: #808080; }
a{ color: #e46021; }
a:hover{ color: #102f01; }
body *{ border-color: #e5e5e5; }
.page-not-found-block{ background-color: #d65938; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #963a20; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #d57f5c; }
.gdlr-sidebar .gdlr-widget-title{ color: #102f01; }
.gdlr-sidebar *{ border-color: #eeeeee; }
.gdlr-sidebar ul li:before { border-color: #bdbdbd; }
.gdl-search-form input{ background-color: #f7f7f7; }
.gdl-search-form input{ color: #9d9d9d; }
.gdl-search-form input{ border-color: #ebebeb; }
.tagcloud a{ background-color: #e46021; }
.tagcloud a, .tagcloud a:hover{ color: #ffffff; }
.gdlr-accordion-item.style-1 .accordion-title{ background-color: #f5f5f5; }
.gdlr-accordion-item.style-1 .accordion-title{ color: #3c3c3c; }
.gdlr-accordion-item.style-1 .accordion-title i{ background-color: #e46021; }
.gdlr-accordion-item.style-1 .accordion-title i{ color: #ffffff; }
.gdlr-box-with-icon-item{ background-color: #f5f5f5; }
.gdlr-box-with-icon-item > i, .gdlr-box-with-icon-item .box-with-icon-title{ color: #585858; }
.gdlr-box-with-icon-item{ color: #929292; }
.gdlr-button, .gdlr-button:hover, .gdlr-top-menu > .gdlr-mega-menu .sf-mega a.gdlr-button{ color: #e46021; }
.gdlr-button{ border-color: #e46021; }.gdlr-button.without-border, input[type="button"], input[type="submit"]{ background-color: #e46021; }
.column-service-title{ color: #292929; }
.column-service-content{ color: #909090; }
.column-service-icon i{ color: #e46021; }
.gdlr-column-service-item.gdlr-type-2 .column-service-icon{ background-color: #3e3e3e; }
.gdlr-feature-media-item .feature-media-icon{ color: #ffffff; }
.gdlr-feature-media-item .feature-media-icon{ background-color: #3d3d3d; }
.list-with-icon .list-with-icon-title{ color: #333333; }
.gdlr-pie-chart-item .pie-chart-title{ color: #313131; }
.gdlr-price-inner-item{ background-color: #f9f9f9; }
.gdlr-price-item .price-title-wrapper{ background-color: #454545; }
.gdlr-price-item .price-title{ color: #ffffff; }
.gdlr-price-item .price-tag{ background-color: #838383; }
.gdlr-price-item .best-price .price-tag{ background-color: #e46021; }
.gdlr-price-item .price-tag{ color: #ffffff; }
.gdlr-process-tab .gdlr-process-icon{ background-color: #f3f3f3; }
.gdlr-process-tab .gdlr-process-icon{ border-color: #e3e3e3; }
.gdlr-process-tab .gdlr-process-icon i{ color: #aaaaaa; }
.gdlr-process-tab .process-line .process-line-divider{ border-color: #e3e3e3; } .gdlr-process-tab .process-line .icon-chevron-down, .gdlr-process-tab .process-line .icon-chevron-right{ color: #e3e3e3; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ color: #454545; }
.stunning-text-title{ color: #414141; }
.stunning-text-caption{ color: #414141; }
.gdlr-stunning-text-item.with-padding{ background-color: #efefef; }
.gdlr-stunning-text-item.with-border{ border-color: #efefef; }
.tab-title-wrapper .tab-title{ background-color: #f9f9f9; }
.tab-title-wrapper .tab-title{ color: #3b3b3b; }
.tab-title-wrapper .tab-title.active, .tab-content-wrapper{ background-color: #ffffff; }
table tr th{ background-color: #e46021; }
table tr th{ color: #ffffff; }
table.style-2 tr:nth-child(odd){ background-color: #f9f9f9; }
table.style-2 tr:nth-child(odd){ color: #949494; }
table.style-2 tr:nth-child(even){ background-color: #f3f3f3; }
table.style-2 tr:nth-child(even){ color: #949494; }
.gdlr-blog-title, .gdlr-blog-title a{ color: #393939; }
.gdlr-blog-title a:hover{ color: #e46021; }
.blog-info, .blog-info a, .blog-info i{ color: #c2c2c2; }
.gdlr-blog-full .blog-date-wrapper .blog-date-day{ color: #121212; }
.gdlr-blog-full .blog-date-wrapper .blog-date-month, .gdlr-blog-full .blog-date-wrapper .blog-date-year{ color: #5c5c5c; }
.gdlr-blog-full .blog-date-wrapper .blog-date-year{ border-bottom-color: #e46021; }
.gdlr-blog-grid .blog-category a, .gdlr-blog-grid .blog-category i, .gdlr-blog-medium .blog-category a, .gdlr-blog-medium .blog-category i{ color: #e46021; }
.gdlr-blog-thumbnail .gdlr-sticky-banner{ background-color: #e46021; }
.gdlr-blog-thumbnail .gdlr-sticky-banner{ color: #ffffff; }
.gdlr-social-share, .gdlr-social-share a{ background-color: #f3f3f3; }
.gdlr-social-share .social-share-title{ color: #353535; }
.gdlr-standard-style .gdlr-single-blog-tag a{ background-color: #e46021; }
.gdlr-standard-style .gdlr-single-blog-tag a{ color: #ffffff; }
.format-aside .gdlr-blog-content{ background-color: #e46021; }
.format-aside .gdlr-blog-content{ color: #ffffff; }
.format-quote .gdlr-top-quote blockquote{ color: #8d8d8d; }
.format-quote .gdlr-quote-author{ color: #e46021; }
.gdlr-single-nav > div i{ background-color: #f3f3f3; }
.gdlr-single-nav > div i{ color: #8d8d8d; }
.portfolio-item-filter a{ background-color: #e46021; border-color: #e46021 } .portfolio-item-filter a:hover, .portfolio-item-filter a.active{ color: #e46021; }
.portfolio-item-filter a{ color: #ffffff; }.portfolio-item-filter a:hover, .portfolio-item-filter a.active{ background-color: #ffffff; } 
.gdlr-image-link-shortcode .gdlr-image-link-overlay, .portfolio-thumbnail .portfolio-overlay{ background-color: #0a0101; }
.gdlr-image-link-shortcode .gdlr-image-link-icon, .portfolio-thumbnail .portfolio-icon i{ color: #ffffff; }
.portfolio-title a{ color: #303030; }
.portfolio-title a:hover{ color: #7f7f7f; }
.portfolio-info, .portfolio-info a{ color: #a2a2a2; }
.portfolio-item-holder .gdlr-modern-portfolio .portfolio-title a{ color: #ffffff; }
.portfolio-item-holder .gdlr-modern-portfolio .portfolio-info, .portfolio-item-holder .gdlr-modern-portfolio .portfolio-info a{ color: #ffffff; }
.gdlr-pagination .page-numbers{ background-color: #f3f3f3; }
.gdlr-pagination .page-numbers{ color: #979797; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ background-color: #e46021; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ color: #ffffff; }
.gdlr-personnel-item .personnel-item-inner{ background-color: #f5f5f5; }
.gdlr-personnel-item.round-style .personnel-item{ background-color: #e46021; }
.gdlr-personnel-item .personnel-author{ color: #3b3b3b; }
.gdlr-personnel-item .personnel-author-image{ border-color: #e46021; }
.gdlr-personnel-item .personnel-position{ color: #acacac; }
.gdlr-personnel-item .personnel-content{ color: #959595; }
.gdlr-personnel-item .personnel-social i{ color: #3b3b3b; }
.gdlr-testimonial-item .testimonial-item-inner, .gdlr-testimonial-item .testimonial-author-image{ background-color: #f5f5f5; }
.gdlr-testimonial-item .testimonial-content{ color: #9b9b9b; }
.gdlr-testimonial-item .testimonial-author{ color: #e46021; }
.gdlr-testimonial-item .testimonial-position{ color: #4d4d4d; }
.gdlr-testimonial-item .testimonial-author-image{ border-color: #e46021; }
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ border-top-color: #dddddd; border-left-color: #dddddd; }
.gdlr-gallery-thumbnail .gallery-item{ background-color: #e5e5e5; }
.gdlr-gallery-thumbnail-container .gallery-caption{ background-color: #000000; }
.gdlr-gallery-thumbnail-container .gallery-caption{ color: #ffffff; }
.nivo-controlNav a, .flex-control-paging li a, .ls-flawless .ls-bottom-slidebuttons a{ background-color: #5f9d31; }
.nivo-controlNav a:hover, .nivo-controlNav a.active, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active,.ls-flawless .ls-bottom-slidebuttons a.ls-nav-active, .ls-flawless .ls-bottom-slidebuttons a:hover { background-color: #e46021; }
.nivo-controlNav a, .flex-control-paging li a, .ls-flawless .ls-bottom-slidebuttons a{ border-color: #ffffff !important; }
.nivo-directionNav a, .flex-direction-nav a, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ background-color: #102f01; }
body .nivo-directionNav a, body .flex-direction-nav a, body .flex-direction-nav a:hover, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ color: #ffffff; }
.gdlr-caption{ background-color: #102f01; }
.gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-text{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider{ background-color: #102f01; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-text{ color: #dddddd; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ color: #ffffff; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ background-color: #e46021; }
.gdlr-item-title .icon-quote-left,  .gdlr-item-title .gdlr-flex-prev, .gdlr-item-title .gdlr-flex-next{ color: #8e8e8e; }
input[type="text"], input[type="email"], input[type="password"], textarea{ background-color: #f5f5f5; }
input[type="text"], input[type="email"], input[type="password"], textarea{ color: #b5b5b5; }input::input-placeholder{ color:#b5b5b5; } input::-webkit-input-placeholder{ color:#b5b5b5; }input::-moz-placeholder{ color:#b5b5b5; } input:-moz-placeholder{ color:#b5b5b5; }input:-ms-input-placeholder{ color:#b5b5b5; }textarea::input-placeholder{ color:#b5b5b5; } textarea::-webkit-input-placeholder{ color:#b5b5b5; }textarea::-moz-placeholder{ color:#b5b5b5; } textarea:-moz-placeholder{ color:#b5b5b5; }textarea:-ms-input-placeholder{ color:#b5b5b5; }
.footer-wrapper{ background-color: #5f9d31; }
.footer-wrapper .gdlr-widget-title, .footer-wrapper .gdlr-widget-title a{ color: #ffffff; }
.footer-wrapper{ color: #ffffff; }
.footer-wrapper a{ color: #102f01; }
.footer-wrapper a:hover{ color: #e46021; }
.footer-wrapper *{ border-color: #72a94a; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ background-color: #f7f7f7; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ color: #555555; }
.footer-wrapper .tagcloud a{ background-color: #e46021; }
.footer-wrapper .tagcloud a, .footer-wrapper .tagcloud a:hover{ color: #ffffff; }
.copyright-wrapper{ background-color: #102f01; }
.copyright-wrapper{ color: #ffffff; }
.footer-wrapper .copyright-wrapper{ border-color: #102f01; }
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce-message,html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {  background: #f5be3b; }html .woocommerce .star-rating, html .woocommerce-page .star-rating, html .woocommerce .star-rating:before, html .woocommerce-page .star-rating:before, html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {color: #f5be3b; }
html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-info a.showcoupon, html .woocommerce-message, html .woocommerce-error, html .woocommerce-info, html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{ color: #ffffff; }
html .woocommerce-info{ background: #389EC5; }
html .woocommerce-error{ background: #C23030; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ background: #f5be3b; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ color: #ffffff; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ border-bottom: 3px solid #e2af16; }
html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar { background: #ebebeb; }html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar,html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text,html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover ,html .woocommerce-page ul.products li.product a img:hover, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img,html .woocommerce form.login, html .woocommerce form.checkout_coupon, html .woocommerce form.register, html .woocommerce-page form.login,html .woocommerce-page form.checkout_coupon, html .woocommerce-page form.register, html .woocommerce table.cart td.actions .coupon .input-text,html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text,html .woocommerce-page #content table.cart td.actions .coupon .input-text { border: 1px solid #ebebeb; }html .woocommerce div.product .woocommerce-tabs ul.tabs:before, html .woocommerce #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th,html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th { border-bottom: 1px solid #ebebeb; }html .woocommerce .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce .cart-collaterals .cart_totals table tr:first-child td,html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 3px #ebebeb solid; }html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th,html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th { border-bottom: 2px solid #ebebeb; }
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove, html .woocommerce #payment, html .woocommerce-page #payment, html .woocommerce .customer_details,html .woocommerce ul.order_details, html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a,html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea, html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty,html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { background: #f3f3f3; }html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty { border: 1px solid #f3f3f3; }
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { border-top: 2px solid #e5e5e5; }html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover,html .woocommerce-page #content table.cart a.remove:hover, html #payment div.payment_box, html .woocommerce-page #payment div.payment_box { background: #e5e5e5; }
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th,html .woocommerce-page table.shop_attributes .alt th, html .woocommerce ul.products li.product .price, html.woocommerce-page ul.products li.product .price { color: #333333; }
html .woocommerce ul.products li.product .price del, html .woocommerce-page ul.products li.product .price del,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove,html .woocommerce-page #content table.cart a.remove { color: #888888; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { color: #ffffff; }
html .woocommerce .quantity .plus, html .woocommerce #content .quantity .plus,  html .woocommerce-page .quantity .plus,html .woocommerce-page #content .quantity .plus, html .woocommerce .quantity .plus:hover, html .woocommerce #content .quantity .plus:hover,html .woocommerce-page .quantity .plus:hover,  html .woocommerce-page #content .quantity .plus:hover{ background: #9a9a9a; }
html .woocommerce .quantity .minus, html .woocommerce #content .quantity .minus,  html .woocommerce-page .quantity .minus,html .woocommerce-page #content .quantity .minus, html .woocommerce .quantity .minus:hover, html .woocommerce #content .quantity .minus:hover,html .woocommerce-page .quantity .minus:hover,  html .woocommerce-page #content .quantity .minus:hover{ background: #b6b6b6; }
.gdlr-skin-dark-skin, .gdlr-skin-dark-skin .gdlr-skin-content{ color: #f4f4f4; }
.gdlr-skin-dark-skin i, .gdlr-skin-dark-skin .nav-container.style-1 .flex-direction-nav i{ color: #494949; }
.gdlr-skin-dark-skin h1, .gdlr-skin-dark-skin h2, .gdlr-skin-dark-skin h3, .gdlr-skin-dark-skin h4, .gdlr-skin-dark-skin h5, .gdlr-skin-dark-skin h6, .gdlr-skin-dark-skin .gdlr-skin-title, .gdlr-skin-dark-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-title a:hover{ color: #e2e2e2; }
.gdlr-skin-dark-skin .gdlr-skin-info, .gdlr-skin-dark-skin .gdlr-skin-info a, .gdlr-skin-dark-skin .gdlr-skin-info a:hover{ color: #bababa; }
.gdlr-skin-dark-skin a, .gdlr-skin-dark-skin .gdlr-skin-link, .gdlr-skin-dark-skin .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-skin a:hover, .gdlr-skin-dark-skin .gdlr-skin-link:hover{ color: #dbdbdb; }
.gdlr-skin-dark-skin .gdlr-skin-box, .gdlr-skin-dark-skin .nav-container.style-1 .flex-direction-nav a{ background-color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-item-title .icon-quote-left, .gdlr-skin-dark-skin .gdlr-item-title .gdlr-flex-prev, .gdlr-skin-dark-skin .gdlr-item-title .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-item-title-gimmick{ background-color: #ffffff; }
.gdlr-skin-dark-skin *, .gdlr-skin-dark-skin .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-button, .gdlr-skin-dark-skin .gdlr-button:hover, .gdlr-skin-dark-skin input[type="button"], .gdlr-skin-dark-skin input[type="submit"]{ color: ; border-color: ;  }
.gdlr-skin-light-gray-skin, .gdlr-skin-light-gray-skin .gdlr-skin-content{ color: #a0a0a0; }
.gdlr-skin-light-gray-skin i, .gdlr-skin-light-gray-skin .nav-container.style-1 .flex-direction-nav i{ color: #cecece; }
.gdlr-skin-light-gray-skin h1, .gdlr-skin-light-gray-skin h2, .gdlr-skin-light-gray-skin h3, .gdlr-skin-light-gray-skin h4, .gdlr-skin-light-gray-skin h5, .gdlr-skin-light-gray-skin h6, .gdlr-skin-light-gray-skin .gdlr-skin-title, .gdlr-skin-light-gray-skin .gdlr-skin-title a{ color: #444444; }
.gdlr-skin-light-gray-skin .gdlr-skin-title a:hover{ color: #7c7c7c; }
.gdlr-skin-light-gray-skin .gdlr-skin-info, .gdlr-skin-light-gray-skin .gdlr-skin-info a, .gdlr-skin-light-gray-skin .gdlr-skin-info a:hover{ color: #7c7c7c; }
.gdlr-skin-light-gray-skin a, .gdlr-skin-light-gray-skin .gdlr-skin-link, .gdlr-skin-light-gray-skin .gdlr-skin-link-color{ color: #424242; }
.gdlr-skin-light-gray-skin a:hover, .gdlr-skin-light-gray-skin .gdlr-skin-link:hover{ color: #8e8e8e; }
.gdlr-skin-light-gray-skin .gdlr-skin-box, .gdlr-skin-light-gray-skin .nav-container.style-1 .flex-direction-nav a{ background-color: #cecece; }
.gdlr-skin-light-gray-skin .gdlr-item-title .icon-quote-left, .gdlr-skin-light-gray-skin .gdlr-item-title .gdlr-flex-prev, .gdlr-skin-light-gray-skin .gdlr-item-title .gdlr-flex-next{ color: #cecece; }
.gdlr-skin-light-gray-skin .gdlr-item-title-gimmick{ background-color: #d6d6d6; }
.gdlr-skin-light-gray-skin *, .gdlr-skin-light-gray-skin .gdlr-skin-border{ border-color: #d6d6d6; }
.gdlr-skin-light-gray-skin .gdlr-button, .gdlr-skin-light-gray-skin .gdlr-button:hover, .gdlr-skin-light-gray-skin input[type="button"], .gdlr-skin-light-gray-skin input[type="submit"]{ color: #595959; border-color: #515151;  }
.gdlr-skin-dark-testimonial, .gdlr-skin-dark-testimonial .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-testimonial i, .gdlr-skin-dark-testimonial .nav-container.style-1 .flex-direction-nav i{ color: #ffffff; }
.gdlr-skin-dark-testimonial h1, .gdlr-skin-dark-testimonial h2, .gdlr-skin-dark-testimonial h3, .gdlr-skin-dark-testimonial h4, .gdlr-skin-dark-testimonial h5, .gdlr-skin-dark-testimonial h6, .gdlr-skin-dark-testimonial .gdlr-skin-title, .gdlr-skin-dark-testimonial .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-testimonial .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-testimonial .gdlr-skin-info, .gdlr-skin-dark-testimonial .gdlr-skin-info a, .gdlr-skin-dark-testimonial .gdlr-skin-info a:hover{ color: #e0e0e0; }
.gdlr-skin-dark-testimonial a, .gdlr-skin-dark-testimonial .gdlr-skin-link, .gdlr-skin-dark-testimonial .gdlr-skin-link-color{ color: #f5be3b; }
.gdlr-skin-dark-testimonial a:hover, .gdlr-skin-dark-testimonial .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-testimonial .gdlr-skin-box, .gdlr-skin-dark-testimonial .nav-container.style-1 .flex-direction-nav a{ background-color: #ffffff; }
.gdlr-skin-dark-testimonial .gdlr-item-title .icon-quote-left, .gdlr-skin-dark-testimonial .gdlr-item-title .gdlr-flex-prev, .gdlr-skin-dark-testimonial .gdlr-item-title .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-testimonial .gdlr-item-title-gimmick{ background-color: #ffffff; }
.gdlr-skin-dark-testimonial *, .gdlr-skin-dark-testimonial .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-testimonial .gdlr-button, .gdlr-skin-dark-testimonial .gdlr-button:hover, .gdlr-skin-dark-testimonial input[type="button"], .gdlr-skin-dark-testimonial input[type="submit"]{ color: #ffffff; border-color: #ffffff;  }
.gdlr-skin-skill-onepage, .gdlr-skin-skill-onepage .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-skill-onepage i, .gdlr-skin-skill-onepage .nav-container.style-1 .flex-direction-nav i{ color: #ffffff; }
.gdlr-skin-skill-onepage h1, .gdlr-skin-skill-onepage h2, .gdlr-skin-skill-onepage h3, .gdlr-skin-skill-onepage h4, .gdlr-skin-skill-onepage h5, .gdlr-skin-skill-onepage h6, .gdlr-skin-skill-onepage .gdlr-skin-title, .gdlr-skin-skill-onepage .gdlr-skin-title a{ color: #3f3f3f; }
.gdlr-skin-skill-onepage .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-skill-onepage .gdlr-skin-info, .gdlr-skin-skill-onepage .gdlr-skin-info a, .gdlr-skin-skill-onepage .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-skill-onepage a, .gdlr-skin-skill-onepage .gdlr-skin-link, .gdlr-skin-skill-onepage .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-skill-onepage a:hover, .gdlr-skin-skill-onepage .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-skill-onepage .gdlr-skin-box, .gdlr-skin-skill-onepage .nav-container.style-1 .flex-direction-nav a{ background-color: #3f3f3f; }
.gdlr-skin-skill-onepage .gdlr-item-title .icon-quote-left, .gdlr-skin-skill-onepage .gdlr-item-title .gdlr-flex-prev, .gdlr-skin-skill-onepage .gdlr-item-title .gdlr-flex-next{ color: #3f3f3f; }
.gdlr-skin-skill-onepage .gdlr-item-title-gimmick{ background-color: #3f3f3f; }
.gdlr-skin-skill-onepage *, .gdlr-skin-skill-onepage .gdlr-skin-border{ border-color: #3f3f3f; }
.gdlr-skin-skill-onepage .gdlr-button, .gdlr-skin-skill-onepage .gdlr-button:hover, .gdlr-skin-skill-onepage input[type="button"], .gdlr-skin-skill-onepage input[type="submit"]{ color: #ffffff; border-color: #ffffff;  }
.gdlr-skin-personnel-onepage, .gdlr-skin-personnel-onepage .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-personnel-onepage i, .gdlr-skin-personnel-onepage .nav-container.style-1 .flex-direction-nav i{ color: #ffffff; }
.gdlr-skin-personnel-onepage h1, .gdlr-skin-personnel-onepage h2, .gdlr-skin-personnel-onepage h3, .gdlr-skin-personnel-onepage h4, .gdlr-skin-personnel-onepage h5, .gdlr-skin-personnel-onepage h6, .gdlr-skin-personnel-onepage .gdlr-skin-title, .gdlr-skin-personnel-onepage .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-personnel-onepage .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-personnel-onepage .gdlr-skin-info, .gdlr-skin-personnel-onepage .gdlr-skin-info a, .gdlr-skin-personnel-onepage .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-personnel-onepage a, .gdlr-skin-personnel-onepage .gdlr-skin-link, .gdlr-skin-personnel-onepage .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-personnel-onepage a:hover, .gdlr-skin-personnel-onepage .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-personnel-onepage .gdlr-skin-box, .gdlr-skin-personnel-onepage .nav-container.style-1 .flex-direction-nav a{ background-color: #ffffff; }
.gdlr-skin-personnel-onepage .gdlr-item-title .icon-quote-left, .gdlr-skin-personnel-onepage .gdlr-item-title .gdlr-flex-prev, .gdlr-skin-personnel-onepage .gdlr-item-title .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-personnel-onepage .gdlr-item-title-gimmick{ background-color: #ffffff; }
.gdlr-skin-personnel-onepage *, .gdlr-skin-personnel-onepage .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-personnel-onepage .gdlr-button, .gdlr-skin-personnel-onepage .gdlr-button:hover, .gdlr-skin-personnel-onepage input[type="button"], .gdlr-skin-personnel-onepage input[type="submit"]{ color: #ffffff; border-color: #ffffff;  }
li#field_7_32 {margin-left:0% !important; width:100% !important;}

/**/

li#field_6_13,  li#field_6_11, li#field_6_14, li#field_6_17, li#field_6_16, li#field_6_18, li#field_6_23, li#field_6_28, li#field_6_25, li#field_6_26, li#field_6_27, li#field_6_52, li#field_6_53, li#field_6_54, li#field_6_55, li#field_4_7, li#field_4_35, li#field_4_16, li#field_4_37 {border-bottom:1px solid #d2d2d2;}

li#field_6_1 {margin-left:0% !important; width:100% !important;}

form#forgot label { display: block; width: 20%; float:left; }
form#forgot input { display: block; width: 75%; float:left; }
form#forgot input[type="submit"] { background-color: #e46021; width:auto; margin-top:10px !important; }

form#forgot .form-group .forgot-text {clear:both;}

#log_forms label { display: block; width: 25%; float:left; }
.form-group {margin-top:10px;}
#log_forms input {width:70%;}

.form_group label {width:25%;}

#log_forms input[type="button"], input[type="submit"] { background-color: #e46021; width: auto !important;}
#log_forms input[type="checkbox"] {width:auto;}

.top-navigation-wrapper a:hover {  color: #ffffff; }

/*gforms*/
.gform_wrapper .gfield_required { display: none; }
.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url] { padding: .5em .5em !important; color: #000000 !important;}

.gform_wrapper .left_label .gfield_label {  font-weight: 500 !important; }

.gform_wrapper select, .gform_wrapper textarea  { padding: .5em .5em !important; background-color: #f5f5f5; border-color:#f5f5f5 !important; }

.gform_wrapper .gform_fileupload_multifile .gform_drop_area {  border: 2px dashed #aaa !important;   }

.gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
    font-weight: 600;
text-transform:uppercase;
}

@media only screen and (max-width: 767px) {
body .container {
  max-width: 100%;
}}

@media only screen and (max-width: 750px) {
.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-title {
  display: none;
}}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #hideinmob { display: none; }
  .mobile-hide{ display: none; }
}

.gdlr-styled-box-body {  padding: 20px 20px 10px 20px; }

.gdlr-item-title-wrapper.pos-icon.gdlr-left.gdlr-right-text .nav-container {
padding-top: 5px; }


input::-moz-placeholder {   color: green !important; }

.gdlr-widget-title { font-size: 20px; margin-bottom: 20px; }

.flex-control-nav-wrapper { display:none !important;}

/*Titles*/
.gdlr-page-title-wrapper .gdlr-page-title-overlay { background: transparent; }
.gdlr-page-title-wrapper .gdlr-page-caption {text-align: left; }
gdlr-page-title-wrapper .gdlr-page-title {text-align: left;  }
.gdlr-page-title-wrapper .gdlr-page-title { text-align: left; }
.gdlr-page-title-wrapper { padding: 40px 0px 0px; }

.gdlr-item.gdlr-divider-item { margin-bottom: 20px; }

.footer-wrapper .widget.gdlr-widget { margin-bottom: 40px; }

sup {font-size:0.5em; vertical-align:top;}

.widget.gdlr-widget { margin-bottom: 40px; }
.section-container, .gdlr-item-start-content, .gdlr-parallax-wrapper, .gdlr-color-wrapper {
padding-top: 40px; }

/*stunning text*/
.gdlr-stunning-text-item.type-normal .stunning-text-title { font-size: 25px; }

/*headings*/
h4 {font-size:20px; margin-bottom:5px; color:#e46021 ;}

/*navbar*/
.gdlr-navigation-wrapper .gdlr-main-menu > li > a { padding: 15px 20px; }

/*search box*/
.gdlr-nav-search-form input[type="text"] {background-color: #344E27; }
.gdlr-nav-search-form-button-wrapper { border-color: #344E27; }


.gdlr-gallery-item.gdlr-item .gallery-item { margin: 1px; }
.gdlr-gallery-item.gdlr-item .gallery-caption { display: none;}

.footer-container {padding-top: 30px; padding-bottom: 0px; }

#clientlogos img {border:1px solid #d2d2d2;}

.gdlr-blog-grid .gdlr-blog-info .blog-category { display: none; }

.content-wrapper ul { list-style: none; }
.content-wrapper ul li:before { 
position: absolute;
content: '»';
margin: 0 0 0 -20px;
color: #e46021;
font: 900 15px/1.333 'Open Sans',sans-serif;
-webkit-font-smoothing: antialiased;
-o-transform: scale(1);
}

body .ls-v5 .ls-bottom-slidebuttons, body .ls-v5 .ls-nav-start, body .ls-v5 .ls-nav-stop, body .ls-v5 .ls-nav-sides {
display: none;
}

.footer-wrapper .gdlr-widget-title { font-weight:400 !important;  color:#102f01!important;}
}